<h1>User Profile</h1>
<p>User Name: <%= @user.name %></p>
<p>Number of Posts: <%= @user.posts.count %></p>
<p>Bio: <%= @user.bio %></p>
<!-- Placeholder for displaying user's posts -->
<!-- Placeholder for displaying comments and likes for each post -->
